.profile-container{
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    width: 100%;
    flex-direction: column;
}
.top-content{
    display: flex;
    justify-content: space-between;
}
.top-content h1{
    font-size: 36px;
}
.top-content a{
    display: flex;
    align-items: center;
    width: 320px;
    height: 60px;
    text-decoration: none;
    gap: 10px;
}
.top-content img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.top-content button{
    width: 110px;
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgba(214, 213, 213, 0.67);
    border: none;
    cursor: pointer;
}
.top-content button:hover{
    background-color: rgba(179, 177, 177, 0.67);

}
.text-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    padding-right: 10px;
}
.name-user{
    font-size: 19px;
    font-weight: bolder;
}
.followers{
    font-size: 14px;
    font-weight: 300;
}
.middle-content{
    width: 100%;
    height: 60px;
}
.middle-content button{
    width: 70px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.middle-content button:hover{
    background-color: rgba(214, 213, 213, 0.67);
}
.middle-content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-content{
    display: flex;
    align-items: center;
    gap: 5px;
}
.middle-content2 img{
    width: 48px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.middle-content2 img:hover{
    background-color: rgba(229, 228, 228, 0.67);
}
.middle-content2 button{
    width: 67px;
    height: 37px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(207, 205, 205);
    cursor: pointer;
}
.middle-content2 button:hover{
    background-color: rgba(175, 174, 174, 0.741);

}
.middle-content2 .create-btn{
    background-color: rgb(227, 16, 16);
    border: none;
    width: 85px;
    height: 50px;
    border-radius: 15px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.middle-content2 .create-btn:hover{
    background-color: rgb(191, 16, 16);
}
.board-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.board-container img{
    width: 200px;
    height: auto;
}
.board-container button{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    color: white;
    background-color: rgb(227, 16, 16);
    margin-top: 20px;
}
.board-container button:hover{
    background-color: rgb(191, 16, 16);
}
.board-container p{
    text-align: center;
    width: 320px;
}
.middle-content #boards-btn.active {
  border-bottom: 2.5px solid rgb(0, 0, 0);
  border-radius: 0px;
  background-color: transparent;
  height: 30px;
  width: 55px;
}
.middle-content #pins-btn.active {
  border-bottom: 2.5px solid rgb(0, 0, 0);
  border-radius: 0px;
  background-color: transparent;
  margin-left: 15px;
  margin-right: 8px;
  height: 30px;
  width: 40px;
}
.hidden {
  display: none;
}


@media (max-width: 430px){
    .profile-container{
    width: 360px;
    padding: 15px;
    gap: 20px;
    }
    .top-content{
        display: flex;
        align-items: center;
        height: 20px;
    }
    .top-content h1{
        font-size: 14px;
        width: 300px;
    }
    .top-content a{
        justify-content: center;
        gap: 5px;
    }
    .top-content img{
        width: 20px;
        height: 20px;
    }
    .top-content button{
        width: 60px;
        height: 25px;
        font-size: 10px;
    }
    .text-content p{
        font-size: 10px;
    }
    .text-content{
        gap: 0px;
    }
    .middle-content{
        width: 100%;
        height: 20px;
    }
    .middle-content button{
        width: 40px;
        height: 30px;
        font-size: 12px;
    }
    .middle-content2 img{
        width: 30px;
        height: auto;
        padding: 5px;
    }
    .middle-content2 button{
        width: 37px;
        height: 27px;
        font-size: 10px;
    }
    .middle-content2 .create-btn{
    width: 45px;
    height: 20px;
    font-size: 10px;
}
}